installed_files.txt
braid.out.cycle

.vscode

__pycache__/
examples/mnist/data/
examples/mnist/fashion-data/

makefile.inc

.DS_Store
.vscode

tests/build/
tests/torchbraid_test.c
tests/torchbraid_test.*.so
tests/torchbraid_test.html
tests/test_cbs.c
tests/test_cbs.*.so
tests/test_cbs.html
torchbraid/braid.html
torchbraid/build/
torchbraid/torchbraid_app.c
torchbraid/torchbraid_app.*.so
torchbraid/torchbraid_app.html
torchbraid/torchbraid_callbacks.html
torchbraid/rnn_braid_app.c
torchbraid/rnn_braid_app.*.so
torchbraid/rnn_braid_app.html

examples/tiny_imagenet/tiny-imagenet-200

examples/rnns/uci-har/UCI\ HAR\ Dataset/
examples/rnns/uci-har/UCI\ HAR\ Dataset.zip
examples/rnns/uci-har/__MACOSX

