installed_files.txt
braid.out.cycle

.vscode

.ipynb_checkpoints/
__pycache__/
examples/modelnet/data/
examples/mnist/data/
examples/mnist/digit-data/
examples/mnist/fashion-data/

makefile.inc

# Jetbrains
.idea/

# Unit test
.tox/

.DS_Store
.vscode
.

build/
tests/build/
tests/torchbraid_test.c
tests/torchbraid_test.*.so
tests/torchbraid_test.html
tests/test_cbs.c
tests/test_cbs.*.so
tests/test_cbs.html
src/torchbraid.egg-info/
src/torchbraid/braid.html
src/torchbraid/build/
src/torchbraid/test_fixtures/build/
src/torchbraid/test_fixtures/test_cbs.html
src/torchbraid/torchbraid_app.c
src/torchbraid/torchbraid_app.*.so
src/torchbraid/torchbraid_app.html
src/torchbraid/torchbraid_callbacks.html
src/torchbraid/rnn_braid_app.c
src/torchbraid/rnn_braid_app.*.so
src/torchbraid/rnn_braid_app.html
src/torchbraid/test_fixtures/*.so
src/torchbraid/test_fixtures/test_cbs.c
src/xbraid
drivers/mnist/fashion-data
drivers/mnist/data

examples/tiny_imagenet/tiny-imagenet-200
examples/mnist/mnist_layerparallel_training.png
examples/mnist/mnist_layerparallel_dataparallel_training_*.png
examples/UCI_HAR_Recurrent/UCI\ HAR\ Dataset/
examples/UCI_HAR_Recurrent/UCI-HAR_layerparallel_training.png
