MPIRUN=mpirun
PYTHON=python

# For my Linux
#####################################
#XBRAID_ROOT=/home/eccyr/Packages/xbraid/braid
#CC=mpicc
#LDSHARED=mpicc -shared
#EXTRA_FLAGS=-O3 -fPIC

# for my MAC
#####################################
XBRAID_ROOT=/Users/eccyr/Packages/xbraid/braid
CC=mpicc
LDSHARED=
EXTRA_FLAGS=
